body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
#sidebar {
  position: fixed;
  top: 75px;
  right: -250px; /* hidden off-screen */
  width: 220px;
  height: 100%;
  color: rgb(234, 214, 214);
  padding: 15px;
  z-index: 15;
  transition: right 0.3s ease;
}

#sidebar.open {
  right: 0; /* slide in */
}

#sidebar label {
  display: block;
  margin-top: 10px;
}

#sidebar input[type="range"] {
  width: 100%;
}

#topControls {
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: row-reverse; /* 👈 Add this line */
  gap: 10px;
  z-index: 9999;
}


#topControls button {
  background-color: #222;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

#topControls button:hover {
  background-color: #444;
}

body.dark-mode {
  background-color: black;
  color: white;
}

body.light-mode {
  background-color: #eef1f5;
  color: black;
}

body.light-mode canvas {
  background-color: #eef1f5;
}

#sidebar,
#topControls button {
  transition: background 0.3s, color 0.3s;
}

body.light-mode #topControls button,
body.light-mode #sidebar {
  background-color: #ddd;
  color: black;
}


